<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="hospital.model.mapper.PatientMapper">

    <!-- 환자등록 -->
    <insert id="pWrite" parameterType="hospital.model.dto.PatientDto">
        insert into patient( name , birthdate , phone , address ) values( #{name} , #{birthdate} , #{phone} , #{address} )
    </insert>

    <!-- 환자전체조회 -->
    <select id="pList" resultType="hospital.model.dto.PatientDto">
        select * from patient
    </select>

    <!-- 환자상세조회 -->
    <select id="pView" parameterType="int"
                    resultType="hospital.model.dto.PatientDto">
        select * from patient where patientid = #{patientid}
    </select>

    <!-- 환자수정 -->
    <update id="pUpdate" parameterType="hospital.model.dto.PatientDto">
        update patient set name = #{name} , birthdate = #{birthdate} , phone = #{phone} , address = #{address} where patientid = #{patientid}
    </update>

    <!-- 환자삭제 -->
    <delete id="pDelete" parameterType="hospital.model.dto.PatientDto">
        delete from patient where patientid = #{patientid}
    </delete>

</mapper>